{% extends 'base.html' %}

{% block content %}
    <h2>Article List</h2>

    {% if user.is_authenticated %}
        <a href={% url 'articles:article_create' %}>[Create]</a>
    {% endif %}

    <ul>
        {% for article in article_list %}
            <li>
                <a href={% url 'articles:article_detail' article.slug %}>{{ article.title }}</a>
                by {{ article.author }}

                {% if user.is_authenticated %}
                    <a href={% url 'articles:article_edit' article.slug %}>[Edit]</a>
                    <a href={% url 'articles:article_delete' article.slug %}>[Delete]</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}