{% extends 'common/base.html' %}
{% load app_tags %}

{% block navigation %}
    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href={% url 'articles:article_list' %}>Articles</a>
            <ul class="nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">
                            <img style="width: 35px;" src="{{ user|gravatar:50 }}">
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href={% url 'articles:article_list' %}>Articles</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href={% url 'articles:article_create' %}>Create</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href={% url 'logout' %}?next={% url 'articles:article_list' %}>Logout</a>
                            </li>
                        </ul>
                        {% else %}
                    <li>
                        <a class="btn btn-info"
                           href={% url 'login' %}?next={% url 'articles:article_list' %}>Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}